.portfolio-project {
    height: 100%;
    background-clip: border-box;
    border: 0.125rem solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    position: relative;
}

.project-description {
    text-align: justify;
    padding-bottom: 0.5rem;
}

.project-technologies {
    position: absolute;
    bottom: 0.5rem;
}

.project-logo {
    object-fit: cover;
    height: 17rem;
    border-bottom: 1px solid var(--bs-gray-300);
}

.effect-hover {
    position: relative;
}

figure.effect-hover img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-hover:hover img {
    opacity: 0.4;
    filter: blur(1px);
    cursor: pointer;
}

.effect-hover div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    background: gray;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    transition: visibility 0s, opacity 0.5s linear;
}

.effect-hover :hover div {
    opacity: 1;
}

.source_url {
    color: black;
}