{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags widget_tweaks %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block content %}

<!-- Navbar -->
<nav id="mainNav" class="navbar navbar-expand-lg text-uppercase fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#page-top">{{ self.first_name }}
            <span>{{ self.second_name }}</span></a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <b>Menu
                <i class="fas fa-bars"></i>
            </b>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#experience">Experience</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Projects</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#skills">Skills</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#education">Education</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#publications">Publications</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Pagehead-->
<header class="pagehead bg-primary text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Pagehead Avatar Image-->
        {% image page.personal_photo original class="pagehead-avatar" %}
        <!-- Pagehead Heading-->
        <h1 class="pagehead-heading mt-5">{{ self.first_name | title }} {{ self.second_name | title }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-laptop-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="pagehead-subheading font-weight-light mb-0">{{ self.professional_title }}</p>
    </div>
</header>

<!-- About -->
<section id="about" class="page-section">
    <div class="container">
        <!-- About Heading-->
        <h2 class="page-section-heading text-center text-uppercase">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-user-secret"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Content-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 mx-auto about-text">
                    {{ page.about|richtext }}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Experience -->
<section id="experience" class="page-section bg-primary">
    <!-- Experience Heading-->
    <h2 class="page-section-heading text-center text-uppercase">Experience</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa-solid fa-gears"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <!-- Experience Content-->
    {% for exp in self.experience.all|dictsortreversed:"end" %}
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{ exp.job_title }}</h3>
                <div class="subheading mb-3"><a href={{ exp.company_url }} target="_blank" class="company-name">
                        {{ exp.company }}</a></div>
                <ul class="fa-ul">
                    {% if exp.achievement_1 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{exp.achievement_1}}</li>
                    {% endif %}
                    {% if exp.achievement_2 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{exp.achievement_2}}</li>
                    {% endif %}
                    {% if exp.achievement_3 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{exp.achievement_3}}</li>
                    {% endif %}
                    {% if exp.achievement_4 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{exp.achievement_4}}</li>
                    {% endif %}

                </ul>
            </div>
            {% if exp.end is None %}
            <div class="flex-shrink-0">
                <span>{{ exp.start }} - Present</span>
                <div class="subheading mb-3">{{ exp.location }}</div>
            </div>
            {% else %}
            <div class="flex-shrink-0"><span>{{ exp.start }} - {{ exp.end }}</span>
                <div class="subheading mb-3">{{ ed.location }}</div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>

<!-- Projects -->
<section id="portfolio" class="page-section portfolio">
    <div class="container">
        <!-- Projects Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Projects</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-keyboard"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="text-center mb-5 text-secondary">
            These are some of my pet projects that have a visual component, either a CLI.
        </div>

        <!-- Projects Content -->
        <div class="row justify-content-center">
            {% for project in self.projects.all %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="portfolio-project">
                    <figure class="effect-bubba">
                        <a href="{{ project.demo_url }}" target="_blank">
                            {% image project.logo width-400 class="card-img-top project-img" %}
                            <div>View demo</div>
                        </a>
                    </figure>
                    <div class="card-body mt-1">
                        <h5 class="card-title text-center">{{ project.title }}
                            <a href={{ project.source_url }} class="github" target="_blank"><i
                                    class="fa-brands fa-github"></i></a>
                        </h5>
                        <p class="project-finished-date text-center text-secondary">
                            <i>{{ project.finished_date|date:'d F Y' }}</i>
                        </p>
                        <div class="card-text project-description mb-4">
                            {{ project.description|richtext }}
                        </div>

                        <div class="project-technologies">
                            {% for iter in project.used_technologies.all %}
                            <span class="badge" style="background-color:{{ iter.used_technology.color }};">
                                {{ iter.used_technology.name }}
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Skills -->
<section id="skills" class="page-section bg-primary">
    <!-- Skills Heading-->
    <h2 class="page-section-heading text-center text-uppercase">Skills</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa-solid fa-qrcode"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <!-- Skills Icons-->
    <div class="container">
        <div class="row">
            {% for skill in self.skills.all %}
            <div class="col col-sm-4">
                <i class="{{ skill.icon|lower }}">
                    <span>{{ skill.name | upper }}</span>
                </i>
            </div>
            {% endfor %}

            {% for st in self.skilltype.all %}
            <h3 class="mb-0">{{ st.name }}</h3>
            <div class="flex-grow-1">
                <ul class="fa-ul">
                    {% if st.example_1 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{st.example_1|richtext}}</li>
                    {% endif %}
                    {% if st.example_2 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{st.example_2|richtext}}</li>
                    {% endif %}
                    {% if st.example_3 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{st.example_3|richtext}}</li>
                    {% endif %}
                    {% if st.example_4 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{st.example_4|richtext}}</li>
                    {% endif %}
                    {% if st.example_5 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{st.example_5|richtext}}</li>
                    {% endif %}
                    {% if st.example_6 %}
                    <li><span class="fa-li"><i class="fa-solid fa-gears"></i></span>{{st.example_6|richtext}}</li>
                    {% endif %}
                </ul>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

<!-- Education -->
<section id="education" class="page-section">
    <div class="container">
        <!-- Education Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Education</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-bars"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Education Content-->
        {% for ed in self.education.all|dictsortreversed:"end" %}
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{ ed.program_name }}, {{ ed.degree }}</h3>
                    <div class="subheading mb-3"><a href={{ ed.educational_institution_url }} target="_blank"
                            class="company-name">
                            {{ ed.educational_institution }}</a></div>
                </div>
                {% if ed.end is None %}
                <div class="flex-shrink-0">
                    <span>{{ ed.start }} - Present</span>
                    <div class="subheading mb-3">{{ ed.location }}</div>
                </div>
                {% else %}
                <div class="flex-shrink-0"><span>{{ ed.start }} - {{ ed.end }}</span>
                    <div class="subheading mb-3">{{ ed.location }}</div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Publications -->
<section id="publications" class="page-section bg-primary">
    <div class="container">
        <!-- Education Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Publications</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-folder-open"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Content-->
        <div class="text-center mb-5 text-secondary">
            These are scientific publications in which I participated
        </div>

        <!-- Publications Content -->
        <div class="row justify-content-center">
            {% for pub in self.publication.all %}
            <div class="col-md-2 col-lg-4 mb-4">
                <div class="portfolio-project">
                    <figure class="effect-bubba">
                        <a href="{{ pub.url }}" target="_blank">
                            {% image pub.logo fill-300x500 class="card-img-top pub-img" %}
                            <div>Paper</div>
                        </a>
                    </figure>
                    <div class="card-body mt-1">
                        <h5 class="card-title text-center">{{ pub.name|richtext }}</h5>
                        <p class="project-finished-date text-center text-secondary">
                            <i>{{ pub.date|date:'Y' }}</i>
                        </p>
                        <div class="card-text pub-description mb-4">
                            {{ pub.abstract|richtext }}
                            <!-- <a href={{ pub.url }} class="github" target="_blank"><i class="fas fa-star"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact" class="page-section ">
    <div class="container">
        <!-- Contact Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-barcode"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    {% if field.label %}
                    <div class="form-group">
                        <label>{{ field.label_tag }}</label>
                        {% render_field field class+="form-control" %}
                    </div>
                    {% else %}
                    {{ field }}
                    <br>
                    {% endif %}
                    {% endfor %}
                    <!-- Submit Button-->
                    <div class="text-center mt-3">
                        <button id="submitButton" class="btn btn-secondary btn-xl" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}